<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">Student</title>
</head>
<body>
    <div class="container">
        <h1>
            Gledate profil <span th:text="${student.name}"></span>
        </h1>
        <table class="table">
            <thead>
            <tr>
                <th>Indeks</th>
                <th>Ime</th>
                <th>Datum Upisa</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${#dates.format(student.enrollmentDate, 'yyyy') + student.index}"> </td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${#dates.format(student.enrollmentDate, 'dd.MM.yyyy')}"></td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" href="/students">Lista svih studenata</a>
        <a class="btn btn-primary" href="/logout">Odjava</a>
    </div>
</body>
</html>